$color_blackGlobal: #141218
$color_whiteGlobal: #ffffff



body
    background-color: $color_blackGlobal
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: normal
    color: $color_whiteGlobal

.container
    max-width: 1140px
    margin: auto

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 60px

.menu-list
    margin-right: auto
    margin-left: 67px

.menu-link
    font-size: 14px
    line-height: 16px
    color: $color_whiteGlobal
    text-decoration: none
    margin-right: 24px

.social-link
    margin-left: 20px
    text-decoration: none